*{
    margin: 0;
    padding: 0;
}
body{
    height: auto;
    width: 100%;
}

main{
    max-width: 1500px;
    margin: auto;
    background-image: url(./Assets/walk-in-school-illustration\ 1349.jpeg);
    
}

section.con {
    display: inline-block;
    margin-top: 95px;
    color: white;
}

section.content {
    min-height: 600px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    font-size: larger;
}

article.sec-1 {
    width: 870px;
}

h1 {
    border-left: 5px solid #c06a01;
    padding-left: 6px;
    height: 28px;
}

.aboutpara{
    margin-top: 20px;
}


article.sec-2 {
    margin-left: 20px;
    display: inline-block;
    width: 359px;
}

h2{
    color: #c06a01;
}

.bi{
    color:goldenrod;
    font-size: xx-large;
}

h3.wedo {
    padding-left: 20px;
    margin-top: 15px;
}

p.whatwedo {
    padding-left: 20px;
    margin-top: 10px;
}