*{
    margin: 0;
    padding: 0;
}
.news_1{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #270b60;
    min-height: 150px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 170px;
    border-radius: 15px;
}
.news_2{
    text-align: center;
    padding-top: 15px;
}
h3.news {
    color: whitesmoke;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.in {
    padding: 12px 20px;
    width: 50%;
}
section.news_1-1 {
    background-color: black;
    min-height: 300px;
    position: relative;
    margin-top: 75px;
}

article.get_1 {
    padding-top: 80px;
    font-size: xx-large;
}
h4.get {
    color: whitesmoke;
    padding-top: 10px;
    text-align: center;
}

